@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	overflow-x: hidden;
	margin: 0;
	padding: 0; 
	width: 100%;
	height: 100%;
}

.bgFirst {
	background-image: url("../src/assets/images/home-banner.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 130vh;
}

.bgContact {
	background-image: url("../src/assets/images/subfooter-bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 40vh;
}

.bgFourth {
	background-image: url("../src/assets/images/test-bgs.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bgFooter {
	background-image: url("../src/assets/images/footer.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 40vh;
}

.pt-16 {
	padding-top: 4rem; 
}

.flex-grow {
	flex-grow: 1;
}

@font-face {
	font-family: "Sansation";
	src: url("/src/assets/LocalFonts//Sansation_Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Sansation";
	src: url("/src/assets/LocalFonts/Sansation_Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Sansation";
	src: url("/src/assets/LocalFonts/Sansation_Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Sansation";
	src: url("/src/assets/LocalFonts/Sansation_Bold_Italic.ttf") format("truetype");
	font-weight: 700;
	font-style: italic;
}
